################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Dev/.vs/
/Dev/MementoSola.Altseed/obj/
/Dev/bin/*
!/Dev/bin/Resources/
packages/
obj/